* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 81vw;
	margin: auto;
}

.nav-color {
	background-color: cadetblue;
}

.nav {
	display: flex;
	gap: 3rem;
	align-items: center;
	height: 100px;
	background-color: cadetblue;
}

.nav-links {
	text-decoration: none;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-radius: 9px;
	transition: all 0.3s ease-in-out;
}

.nav-links:visited,
.nav-links:active {
	color: white;
}

.nav-links:hover {
	color: yellow;
}
