.dropdown > button {
   padding: 9px 18px;
   font-size: 15px;
   border: transparent;
   width: 160px;
   background-color: transparent;
   text-transform: uppercase;
   color: white;
   font-weight: bold;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   float: none;
   color: black;
   padding: 9px 12px;
   font-size: 15px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown-content a:hover {
   background-color: rgb(225, 233, 236);
}

.dropdown:hover .dropdown-content {
   display: block;
}
